@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "poppins";
    src: url("/src/assets/poppins.ttf");
}

body {
    margin: 0;
    font-family: "poppins", sans-serif;
    background-color: #22272e;
    color: white;
}

@layer components {
    .fc {
        @apply flex items-center justify-center
    }
    .form-input {
        @apply rounded-lg p-[10px] w-full my-[5px] bg-bgdark border-solid border-2 border-bgdark focus:border-solid focus:border-2 focus:border-main focus:outline-none
    }
    .button {
        @apply bg-main w-full rounded-lg p-[10px] my-[5px] hover:bg-maindark
    }
    .mh-all {
        @apply min-h-[calc(100vh-10px)]
    }
    .mh-body {
        @apply min-h-[calc(100vh-98px)]
    }
    .action-button {
        @apply bg-bg rounded-lg h-full w-[60px] fc mr-[10px]
    }

    .gradient-0 {
        @apply bg-[#2E3192] bg-gradient-to-br from-[#2E3192] to-[#1BFFFF]
    }

    .gradient-1 {
        @apply bg-[#D4145A] bg-gradient-to-br from-[#D4145A] to-[#FBB03B]
    }

    .gradient-2 {
        @apply bg-[#009245] bg-gradient-to-br from-[#009245] to-[#FCEE21]
    }

    .gradient-3 {
        @apply bg-[#662D8C] bg-gradient-to-br from-[#662D8C] to-[#ED1E79]
    }

    .gradient-4 {
        @apply bg-[#D8B5FF] bg-gradient-to-br from-[#D8B5FF] to-[#1EAE98]
    }

    .border-w {
        @apply border border-solid border-white/5
    }
}